<?php
use Nette\Diagnostics\Debugger;
use ZfjNavigation\Collector\AbstractEntityCollector;
use ZfjNavigation\Collector\AbstractCollector;
$this->headLink()->prependStylesheet(
		$this->basepath('/zfj-navigation/css/main.css'));
$this->inlinescript()->appendFile(
		'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js');
$this->inlinescript()->appendFile($this->basepath('/zfj-navigation/js/main.js'));
$view = $this;
$recursiveHydrator = function($entity) use(&$recursiveHydrator, $sm, $em, $repo, $collectors, $view) {
	if($entity->getParent() !== null) {
		$collector = $sm->get($collectors[$entity->getCollector()]);
		$originalEntity = $em->find($collector->getEntity(), $entity->getReferenceId());
		echo $this->partial('zfj-navigation/admin_index/add-menu-item', array('menuItems' => array(array('data' => $entity, 'entity' => $originalEntity, 'collector' => $collector))));
	}
	
	$children = $repo->getChildren($entity);
	
	
	if(count($children)) {
		foreach($children as $child) {
		    if(!isset($collectors[$child->getCollector()]))
		        continue;
			$collector = $sm->get($collectors[$child->getCollector()]);
			$originalEntity = false;
			if($collector instanceof AbstractEntityCollector) {
				$originalEntity = $em->find($collector->getEntity(), $child->getReferenceId());
			}
			echo $view->partial('zfj-navigation/admin_index/add-menu-item', array('menuItems' => array(array('data' => $child, 'entity' => $originalEntity, 'collector' => $collector))));
		}
	}
	
}

?>

<div class="page-header">

	<h1>Menús</h1>
	<small>Esta funcionalidad te permite utilizar un menú personalizado en
		vez de los menús por defecto de tu tema.</small>

</div>

<div class="row-fluid">
	<div class="col-md-4">
		<div id="menu-settings-column" class="metabox-holder<?php echo !$activeMenu ?  '-disabled' : ''?>">{zfj-navigation-toolbar}</div>
	</div>
	<!-- End .col-md-8 -->

	<div class="col-md-8">

		<div class="box gradient">
			<div id="menu-management">
			<div class="nav-tabs-wrapper">
				<div class="nav-tabs">
					<?php foreach($navigations as $navigation) : ?>
					<?php if($activeMenu == $navigation->getId()): $active = $navigation; ?>
					<span class="nav-tab nav-tab-active"> <?php echo $navigation->getTitle() ?> </span>
					<?php else: ?>
					<a class="nav-tab" href="<?php echo $this->url('zfcadmin/ZfjNavigation', array(), array('query' => array('menu' => $navigation->getId()))) ?>">
						<?php echo $navigation->getTitle() ?> </a>
					<?php endif; ?>
					<?php endforeach; ?>
					<?php if(isset($active)):?>
					<a class="nav-tab menu-add-new"
						href="<?php echo $this->url('zfcadmin/ZfjNavigation', array(), array('query' => array('menu' => 0))) ?>">
						<abbr title="Añadir menú">+</abbr>
					</a>
					<?php else:?>
					<span class="nav-tab menu-add-new nav-tab-active">
						<abbr title="Añadir menú">+</abbr>
						</span>
					<?php endif; ?>
					
				</div>
				</div>
<div class="menu-edit">
			<form id="update-nav-menu" enctype="multipart/form-data"	method="post" action="<?php if(isset($active)): echo $this->url('zfcadmin/ZfjNavigation', array('action' => 'update'), array('query' => array('menu' => $activeMenu))); else : echo $this->url('zfcadmin/ZfjNavigation', array('action' => 'create'), array('query' => array('menu' => $activeMenu))); endif; ?>">
				
				<div id="nav-menu-header">
						<div class="submitbox" id="submitpost">
							<div class="major-publishing-actions">
								<label for="menu-name" class="menu-name-label howto open-label">
									<span>Nombre del menú</span>
									<input type="text" value="<?php if(isset($active)) : echo $active->getTitle(); endif; ?>" title="Introduce el nombre del menú aquí." class="menu-name regular-text menu-item-textbox input-with-default-title" id="menu-name" name="menu-name">
								</label>
								
								<label for="menu-identifier" class="menu-identifier-label howto open-label">
									<span>Identificador del menú (opcional)</span>
									<input type="text" value="<?php if(isset($active)) : echo $active->getIdentifier(); endif; ?>" title="Introduce un identificador." class="menu-identifier regular-text menu-item-textbox input-with-default-title" id="menu-identifier" name="menu-identifier">
								</label>
														
														<?php  if(!isset($active)) :?>		
								<div class="publishing-action">
									<button class="btn btn-primary menu-save" id="save_menu_header" name="save_menu">Crear menú</button>							
								</div><!-- END .publishing-action -->
								<?php endif; ?>
								<?php  if(isset($active)) :?>
								<div class="auto-add-pages">
									<label class="howto"><input type="checkbox" value="1" name="auto-add-pages"> Añadir automáticamente las páginas de nivel superior</label>
								</div>
								<br class="clear">
								
								<div class="publishing-action">
									<button class="btn btn-primary menu-save" id="save_menu_header" name="save_menu">Guardar menú</button>						
								</div>

								<div class="delete-action">
									<a href="<?php echo $this->url('zfcadmin/ZfjNavigation', array('action' => 'delete'), array('query' => array('menu' => $active->getId()))) ?>" class="submitdelete deletion menu-delete">Eliminar menú</a>
								</div>
								<?php endif; ?>
															</div><!-- END .major-publishing-actions -->
						</div><!-- END #submitpost .submitbox -->
						<input type="hidden" value="<?php if(isset($active)) : echo $active->getId(); else: echo 0; endif; ?>" id="menu" name="menu">
					</div>
				
				<div id="post-body">

					<ul id="menu-to-edit" class="menu">
						<?php if(isset($active)) : ?>
						<?php $recursiveHydrator($active); ?>
						<?php endif; ?>
					</ul>

				</div>

				<div id="nav-menu-footer">
					<div class="major-publishing-actions">
						<div class="publishing-action">
						<?php if(isset($active)):?>
							<button id="save_menu_footer" class="btn btn-primary menu-save">Guardar
								menú</button>
						<?php endif; ?>
						</div>
					</div>
				</div>
			</form>
			</div>

		</div>
		
		</div><!-- End .box -->

	</div>
	<!-- End .col-md-4 -->

</div>